In [1]:
pip install textblob

Requirement already satisfied: textblob in d:\users\raju a s\anaconda3\lib\site-packages (0.17.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: nltk>=3.1 in d:\users\raju a s\anaconda3\lib\site-packages (from textblob) (3.7)
Requirement already satisfied: click in d:\users\raju a s\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: tqdm in d:\users\raju a s\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.64.0)
Requirement already satisfied: joblib in d:\users\raju a s\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in d:\users\raju a s\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2022.3.15)
Requirement already satisfied: colorama in d:\users\raju a s\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.corpus import stopwords
from textblob import TextBlob

In [3]:
data = pd.read_csv("C:\\Users\\Raju A S\\Downloads\\Elon_musk (1).csv",encoding="latin-1")
data.head(10)

   Unnamed: 0                                               Text
0           1                             @kunalb11 Iﾂ知 an alien
1           2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2           3                @joerogan @Spotify Great interview!
3           4                    @gtera27 Doge is underestimated
4           5  @teslacn Congratulations Tesla China for amazi...
5           6  Happy New Year of the Ox! https://t.co/9WFKMYu2oj
6           7  Frodo was the underdoge,\nAll thought he would...
7           8     @OwenSparks_ @flcnhvy @anonyx10 Haha thanks :)
8           9  @flcnhvy @anonyx10 Indeed! Tweets definitely d...
9          10   The most entertaining outcome is the most likely

In [4]:
#Number of Words in single tweet
data['word_count'] = data['Text'].apply(lambda x: len(str(x).split(" ")))
data[['Text','word_count']].head(10)

                                                Text  word_count
0                             @kunalb11 Iﾂ知 an alien           4
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...          13
2                @joerogan @Spotify Great interview!           4
3                    @gtera27 Doge is underestimated           4
4  @teslacn Congratulations Tesla China for amazi...          17
5  Happy New Year of the Ox! https://t.co/9WFKMYu2oj           7
6  Frodo was the underdoge,\nAll thought he would...          12
7     @OwenSparks_ @flcnhvy @anonyx10 Haha thanks :)           6
8  @flcnhvy @anonyx10 Indeed! Tweets definitely d...          11
9   The most entertaining outcome is the most likely           8

In [5]:
#Number of characters in single tweet
data['char_count'] = data['Text'].str.len()
data[['Text','char_count']].head(10)

                                                Text  char_count
0                             @kunalb11 Iﾂ知 an alien          22
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...          82
2                @joerogan @Spotify Great interview!          35
3                    @gtera27 Doge is underestimated          31
4  @teslacn Congratulations Tesla China for amazi...         104
5  Happy New Year of the Ox! https://t.co/9WFKMYu2oj          49
6  Frodo was the underdoge,\nAll thought he would...          96
7     @OwenSparks_ @flcnhvy @anonyx10 Haha thanks :)          46
8  @flcnhvy @anonyx10 Indeed! Tweets definitely d...          89
9   The most entertaining outcome is the most likely          48

In [6]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

data['avg_word'] = data['Text'].apply(lambda x: avg_word(x))
data[['Text','avg_word']].head(10)

                                                Text  avg_word
0                             @kunalb11 Iﾂ知 an alien  4.750000
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...  5.384615
2                @joerogan @Spotify Great interview!  8.000000
3                    @gtera27 Doge is underestimated  7.000000
4  @teslacn Congratulations Tesla China for amazi...  5.176471
5  Happy New Year of the Ox! https://t.co/9WFKMYu2oj  6.142857
6  Frodo was the underdoge,\nAll thought he would...  5.928571
7     @OwenSparks_ @flcnhvy @anonyx10 Haha thanks :)  6.833333
8  @flcnhvy @anonyx10 Indeed! Tweets definitely d...  7.181818
9   The most entertaining outcome is the most likely  5.125000

In [7]:

def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

data['avg_word'] = data['Text'].apply(lambda x: avg_word(x))
data[['Text','avg_word']].head(10)

                                                Text  avg_word
0                             @kunalb11 Iﾂ知 an alien  4.750000
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...  5.384615
2                @joerogan @Spotify Great interview!  8.000000
3                    @gtera27 Doge is underestimated  7.000000
4  @teslacn Congratulations Tesla China for amazi...  5.176471
5  Happy New Year of the Ox! https://t.co/9WFKMYu2oj  6.142857
6  Frodo was the underdoge,\nAll thought he would...  5.928571
7     @OwenSparks_ @flcnhvy @anonyx10 Haha thanks :)  6.833333
8  @flcnhvy @anonyx10 Indeed! Tweets definitely d...  7.181818
9   The most entertaining outcome is the most likely  5.125000

In [8]:
#number of special characters
data['hastags'] = data['Text'].apply(lambda x: len([x for x in x.split() if x.startswith('@')]))
data[['Text','hastags']].head(10)

                                                Text  hastags
0                             @kunalb11 Iﾂ知 an alien        1
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...        1
2                @joerogan @Spotify Great interview!        2
3                    @gtera27 Doge is underestimated        1
4  @teslacn Congratulations Tesla China for amazi...        1
5  Happy New Year of the Ox! https://t.co/9WFKMYu2oj        0
6  Frodo was the underdoge,\nAll thought he would...        0
7     @OwenSparks_ @flcnhvy @anonyx10 Haha thanks :)        3
8  @flcnhvy @anonyx10 Indeed! Tweets definitely d...        2
9   The most entertaining outcome is the most likely        0

In [9]:
# no of numerical values
data['numerics'] = data['Text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['Text','numerics']].head(10)

                                                Text  numerics
0                             @kunalb11 Iﾂ知 an alien         0
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...         0
2                @joerogan @Spotify Great interview!         0
3                    @gtera27 Doge is underestimated         0
4  @teslacn Congratulations Tesla China for amazi...         0
5  Happy New Year of the Ox! https://t.co/9WFKMYu2oj         0
6  Frodo was the underdoge,\nAll thought he would...         0
7     @OwenSparks_ @flcnhvy @anonyx10 Haha thanks :)         0
8  @flcnhvy @anonyx10 Indeed! Tweets definitely d...         0
9   The most entertaining outcome is the most likely         0

In [10]:
data['upper'] = data['Text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data[['Text','upper']].head(10)

                                                Text  upper
0                             @kunalb11 Iﾂ知 an alien      0
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...      1
2                @joerogan @Spotify Great interview!      0
3                    @gtera27 Doge is underestimated      0
4  @teslacn Congratulations Tesla China for amazi...      0
5  Happy New Year of the Ox! https://t.co/9WFKMYu2oj      0
6  Frodo was the underdoge,\nAll thought he would...      0
7     @OwenSparks_ @flcnhvy @anonyx10 Haha thanks :)      0
8  @flcnhvy @anonyx10 Indeed! Tweets definitely d...      0
9   The most entertaining outcome is the most likely      0

In [11]:
pip install nltk

Requirement already satisfied: nltk in d:\users\raju a s\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: click in d:\users\raju a s\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in d:\users\raju a s\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in d:\users\raju a s\anaconda3\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: tqdm in d:\users\raju a s\anaconda3\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: colorama in d:\users\raju a s\anaconda3\lib\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Raju A
[nltk_data]     S\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [15]:
#removing stop words
stop = stopwords.words('english')
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
data['Text'].head()

0                                  @kunalb11 Iﾂ知 alien
1    @ID_AA_Carmack Ray tracing Cyberpunk HDR next-...
2                  @joerogan @Spotify Great interview!
3                         @gtera27 Doge underestimated
4    @teslacn Congratulations Tesla China amazing e...
Name: Text, dtype: object

In [16]:
#removing common words
freq = pd.Series(' '.join(data['Text']).split()).value_counts()[:10]
freq

&amp;              218
@SpaceX            140
@Erdayastronaut    140
RT                 127
@PPathole          123
I                  115
@flcnhvy           114
Tesla               85
The                 80
@SpaceX:            71
dtype: int64

In [17]:
freq = list(freq.index)
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['Text'].head()

0                                  @kunalb11 Iﾂ知 alien
1    @ID_AA_Carmack Ray tracing Cyberpunk HDR next-...
2                  @joerogan @Spotify Great interview!
3                         @gtera27 Doge underestimated
4    @teslacn Congratulations China amazing executi...
Name: Text, dtype: object

In [18]:
#removing rare words
freq = pd.Series(' '.join(data['Text']).split()).value_counts()[-10:]
freq

genes)                     1
thinks                     1
N3                         1
(N1                        1
detection                  1
Lab                        1
https://t.co/K77wXQ11yt    1
dicey                      1
accurate,                  1
28                         1
dtype: int64

In [19]:

freq = list(freq.index)
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['Text'].head()

0                                  @kunalb11 Iﾂ知 alien
1    @ID_AA_Carmack Ray tracing Cyberpunk HDR next-...
2                  @joerogan @Spotify Great interview!
3                         @gtera27 Doge underestimated
4    @teslacn Congratulations China amazing executi...
Name: Text, dtype: object

In [20]:
data['Text'][:5].apply(lambda x: str(TextBlob(x).correct()))

0                                  @kunalb11 Iﾂ知 alien
1    @ID_AA_Carmack May tracing Cyberpunk HDR next-...
2                   @joerogan @Notify Great interview!
3                          @gtera27 One underestimated
4    @teslacn Congratulations China amazing executi...
Name: Text, dtype: object

In [21]:
import nltk
nltk.download('punkt')

TextBlob(data['Text'][1]).words

[nltk_data] Downloading package punkt to C:\Users\Raju A
[nltk_data]     S\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

WordList(['ID_AA_Carmack', 'Ray', 'tracing', 'Cyberpunk', 'HDR', 'next-level', 'Have', 'tried', 'it'])

In [22]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
data['Text'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0                                  @kunalb11 iﾂ知 alien
1    @id_aa_carmack ray trace cyberpunk hdr next-le...
2                  @joerogan @spotifi great interview!
3                             @gtera27 doge underestim
4    @teslacn congratul china amaz execut last year...
Name: Text, dtype: object

In [23]:
from textblob import Word

import nltk
nltk.download('wordnet')

data['Text'] = data['Text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
data['Text'].head()

[nltk_data] Downloading package wordnet to C:\Users\Raju A
[nltk_data]     S\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

**********************************************************************
  Resource omw-1.4 not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('omw-1.4')

  For more information see: https://www.nltk.org/data.html

  Attempted to load corpora/omw-1.4

  Searched in:
    - 'C:\\Users\\Raju A S/nltk_data'
    - 'D:\\Users\\Raju A S\\anaconda3\\nltk_data'
    - 'D:\\Users\\Raju A S\\anaconda3\\share\\nltk_data'
    - 'D:\\Users\\Raju A S\\anaconda3\\lib\\nltk_data'
    - 'C:\\Users\\Raju A S\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************

MissingCorpusError:
Looks like you are missing some required data for this feature.

To download the necessary data, simply run

    python -m textblob.download_corpora

or use the NLTK downloader to download the missing data: http://nltk.org/data.html
If this doesn't fix the problem, file an issue at https://github.com/sloria/TextBlob/issues.

In [24]:
TextBlob(data['Text'][0]).ngrams(2)

[WordList(['kunalb11', 'I\x92m']), WordList(['I\x92m', 'alien'])]

In [25]:
tf1 = (data['Text'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

            words  tf
0  @ID_AA_Carmack   1
1             Ray   1
2         tracing   1
3       Cyberpunk   1
4             HDR   1
5     next-level.   1
6            Have   1
7           tried   1
8             it?   1

In [26]:
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(data.shape[0]/(len(data[data['Text'].str.contains(word)])))

tf1

            words  tf       idf
0  @ID_AA_Carmack   1  4.166415
1             Ray   1  7.600402
2         tracing   1  7.600402
3       Cyberpunk   1  5.115496
4             HDR   1  7.600402
5     next-level.   1  7.600402
6            Have   1  5.654492
7           tried   1  5.808643
8             it?   1  0.156739

In [27]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

            words  tf       idf     tfidf
0  @ID_AA_Carmack   1  4.166415  4.166415
1             Ray   1  7.600402  7.600402
2         tracing   1  7.600402  7.600402
3       Cyberpunk   1  5.115496  5.115496
4             HDR   1  7.600402  7.600402
5     next-level.   1  7.600402  7.600402
6            Have   1  5.654492  5.654492
7           tried   1  5.808643  5.808643
8             it?   1  0.156739  0.156739

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
vect = tfidf.fit_transform(data['Text'])
vect

<1999x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 8236 stored elements in Compressed Sparse Row format>

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
data_bow = bow.fit_transform(data['Text'])
data_bow

<1999x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 10233 stored elements in Compressed Sparse Row format>

In [30]:
data['Text'][:5].apply(lambda x: TextBlob(x).sentiment)

0                      (-0.25, 0.75)
1                         (0.0, 0.0)
2                        (1.0, 0.75)
3                         (0.0, 0.0)
4    (0.3453125, 0.3666666666666667)
Name: Text, dtype: object

In [31]:
data['sentiment'] = data['Text'].apply(lambda x: TextBlob(x).sentiment[0] )
data[['Text','sentiment']].head(10)

                                                Text  sentiment
0                                @kunalb11 Iﾂ知 alien  -0.250000
1  @ID_AA_Carmack Ray tracing Cyberpunk HDR next-...   0.000000
2                @joerogan @Spotify Great interview!   1.000000
3                       @gtera27 Doge underestimated   0.000000
4  @teslacn Congratulations China amazing executi...   0.345313
5         Happy New Year Ox! https://t.co/9WFKMYu2oj   0.485227
6  Frodo underdoge, All thought would fail, Himse...  -0.500000
7              @OwenSparks_ @anonyx10 Haha thanks :)   0.300000
8  @anonyx10 Indeed! Tweets definitely represent ...   0.000000
9                        entertaining outcome likely   0.250000